@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@700&display=swap');

body {
    background-color: white;
}

header {
    display: flex;
    align-items: center;
}


h1 {
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 4rem;
    margin: 0;
}

h2 {
   font-family: 'Montserrat Subrayada', sans-serif; 
}

h3 {
    font-size: 2rem;
    margin: 0;
}

#header-text {
    flex-basis: 80%;
    display: flex;
    align-content:center; 
}

nav {
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    margin: 2px;
    text-decoration: none;
    color: #000;
}

a, p {
    font-family: monospace;
}

.pagetext {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    width: 100%;

}

.catergorys {
        color: black;
        font-size: 20px;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    background-color: lightgrey;
    width: 20%;
}

.hide {
    color:white;
    font-size: xx-large;
}