{% extends "base.html" %}
{% load static %}

{% block stylesheets %}

<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">

{% endblock %}

{% block content %}
<div class="hide">current user: {{ user.id }}
post creater: {{ story.author.id }}</div>
<div id="story-wrapper">
    <h2 class="pagetext">{{ story.title }}</h2>
    <div class="pagetext">
        <a href="{% url 'news:author' story.author.id %}"> {{ story.author }} <a> | </a></a>  {{ story.pub_date }}  <a> | </a><a href="{% url 'news:catergory' story.catergory %}"> {{ story.catergory }} <a> | </a></a> 
    {% if request.user.is_authenticated %}
    {% if user.id == story.author.id %}
        <a href="{% url 'news:editstory' story.id %}">  Edit</a>
        <a href="{% url 'news:deletestory' story.id %}"> | Delete</a>
    {% endif %}

    </div>
    <div id="story-content">
        <img src="{{ story.image }}">
        {{ story.content|linebreaks }}




{% endif %}
    
</div>



{% endblock %}

